@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

:root {
    --text-color: #333;
    --line-color: #d0d0d0;
    --link-active: #DEB887;
    --link-hover: #00ddff;
    --link-color: #666;
}

h1, h2, nav {
    font-family: Lora, sans-serif;
}

h1 {
    font-size: 2.5em;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    color: var(--text-color);
    text-align: center;
}

header a {
    color: var(--text-color);
    text-decoration: none;
}

nav {
    border-bottom: 2px solid var(--line-color);
    border-top: 2px solid var(--line-color);
    font-size: 1.2rem;
}

nav ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin-right: 30px;
}

nav li a:hover {
    color: var(--link-hover);
}

nav li a {
    cursor: pointer;
    color: var(--link-color);
    font-weight: bold;
    text-transform: uppercase;
}

nav li {
    margin-bottom: 15px;
    margin-top: 15px;
}

p {
    padding: 20px;
}

a {
    color: var(--link-color);
    text-decoration: none;
}

a:hover {
    color: var(--link-hover);
}

h2 a {
    color: var(--link-color);
}

.post-date {
    text-align: right;
    border-bottom: 2px solid var(--line-color);
    padding: 15px;
    text-transform: uppercase;
    font-weight: 600;
}

@media screen and ( min-width: 900px) {
    nav ul {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }

    nav li a {
        margin-left: 20px;
    }

    nav {
        margin: 20px;
    }

    main {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        grid-template-rows: repeat(auto-fit, minmax(100px, 2fr));
    }

    .post-date {
        grid-column: 1;
        border-right: 2px solid var(--line-color);
    }   

    .post-content {
        grid-column: 2;
    }

}